<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Juicebox Lite Gallery"
>
  <image imageURL="images/1.jpeg"
	thumbURL="thumbs/1.jpeg"
	linkURL="images/1.jpeg"
	linkTarget="_blank">
	<title>Welcome to Juicebox!</title>
  </image>
  <image imageURL="images/2.jpeg"
	thumbURL="thumbs/2.jpeg"
	linkURL="images/2.jpeg"
	linkTarget="_blank">
	<caption><![CDATA[<u><a href="http://www.juicebox.net" target="_blank">Juicebox</a></u> is a free, customizable image gallery. Use it to display your images on any web page in a professional, intuitive and simple way.]]></caption>
  </image>
</juiceboxgallery>
